@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IBMPlexSans;
    src: url("/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/IBMPlexSans-Bold.ttf");
    font-weight: bold;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: IBMPlexSans;
}

.bg-light-purple {
    background-color: #F2EFFA;
}

.light-purple-underline {
    border-bottom: #F2EFFA 2px solid;
}

.bg-medium-purple {
    background-color: #CAC2F9;
}

.border-medium-purple {
    border-color: #CAC2F9;
}

.dark-purple-dashed-border {
    border: 3px dashed #8680DF;
}

.button.dark-purple-dashed-border:hover {
    border: none;
    background-color: #F2EFFA;
}

.dark-purple {
    color: #8680DF;
}

.button.bg-dark-purple {
    background-color: rgba(0,0,0,0);
    border: 2px solid #8680DF;
    color: #8680DF;
}

.button.bg-dark-purple:hover {
    background-color: #8680DF;
    border: 2px solid rgba(0,0,0,0);
    color: #FFFFFF;
}

.w-xl {
    width: 36rem;
}
