@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IBMPlexSans;
    src: url("/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: IBMPlexSans;
    src: url("/IBMPlexSans-Bold.ttf");
    font-weight: bold;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: IBMPlexSans;
}

.bg-light-purple {
    background-color: #F2EFFA;
}

.bg-medium-purple {
    background-color: #CAC2F9;
}

.button.bg-dark-purple {
    background-color: rgba(0,0,0,0);
    border: 2px solid #8680DF;
    color: #8680DF;
}

.button.bg-dark-purple:hover {
    background-color: #8680DF;
    border: 2px solid rgba(0,0,0,0);
    color: #FFFFFF;
}
